:root{
    --green: #16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow: .5rem .5rem 0 rgba(22,160,133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0,0,0, .2);
    --border: .2rem solid var(--green);
}
*{
    font-family: poppins;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding: 7rem;
    scroll-behavior: smooth;
}
.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 100;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}
.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}
.header .logo i{
    font-size: 2.5rem;
    color: var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--green);
}


section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: var(--green);
    color: #fff;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem; 
    justify-content: space-between;
}

.home .image{
    flex: 1 1 45rem;
}
.home .image img{
    width: 100%;
}

.home .content{
     flex: 1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.icon-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 2rem;
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
.icon-container .icons{
    background: white;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2.5rem;
}

.icon-container .icons i{
    font-size: 4.5rem;
    color: var(--green);
    padding-bottom: .7rem;
}
.icon-container .icons h3{
    color: var(--black);
    padding: .5rem 0;
    font-size: 4.5rem;
    text-shadow: var(--text-shadow);
}
.icon-container .icons p{
    color: var(--light-color);
    padding-bottom: .7rem;
    font-size: 1.7rem;
}

.heading{
text-align: center;
padding-bottom: 2rem;
text-shadow: var(--text-shadow);
text-transform: uppercase;
color: var(--black);
font-size: 5rem;
letter-spacing: .4rem;
}

.heading span{
    color: var(--green); 
    text-transform: uppercase;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
    gap: 2rem;
}
.box-container .box{
    text-align: center;
    background: #fff;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.box-container .box img{
    height : 25rem;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-container .box span{
    color: var(--green);
    font-size: 1.5rem;
}

.box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}
.box-container .box .share{
    padding-left: 2rem;
    align-items: center;
}

.box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color : var(--green) ;
    border-radius: .5rem;
    border: var(--border);
    margin: .3rem;
}

.box-container .box .share a.btn:hover{
    background: var(--green);
    color : #fff;

}